{"name":"test-case","slug":"test-case","version":"1.0.0","orientation":"portrait","icon":"./assets/images/icon.png","scheme":"myapp","userInterfaceStyle":"automatic","splash":{"image":"./assets/images/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true},"android":{"adaptiveIcon":{"foregroundImage":"./assets/images/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.halitsever.testcase"},"web":{"bundler":"metro","output":"static","favicon":"./assets/images/favicon.png"},"plugins":["expo-router"],"experiments":{"typedRoutes":true},"extra":{"eas":{"projectId":"52db7300-300f-417b-9918-be25c85a7f20"},"router":{"origin":false}},"sdkVersion":"51.0.0","platforms":["ios","android","web"]}